body{
    background-color: #f5efa3;

}












.bar {
    width: 100%;
    background-color: rgb(247, 216, 79);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 17px 0 rgba(0, 0, 0, 0.07);
    height: 65px;
    margin-top: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(199, 199, 199, 0.356);
    position: relative;
    align-content: center;
    color: rgba(0, 0, 0, 0.801);
}

.container {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}
.serviços {
    width: 400px;
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.caixas {
width: 1700px;
height: 200px;
display: flex;
align-items: center;


}
.caixa-menor{
   width: 50%;
   height: 50%;
   font-family: Arial, Helvetica, sans-serif ;
   
}
.redes {
    width: 100px;
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%; 
}
