.banner {
    background-color: blue;
    text-align: center;
}

.form {
    font-size: 25px;
    font-family: cursive;
    color: yellow;
    background-color: lightblue;
    margin: 50px auto;
    width: 50%;
    height: 1000px;
    border: 10px solid lightblue;
}

.medico-banner {
    background-color: blue;
    text-align: center;

}

.doencas-esq {
    background-color: red;

}

.doencas-dir {
    background-color: red;
}

body {
    background-color: rgba(173, 216, 230, 0.582);
}