@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

#Fernando {
    display: flex;
    width: 355px;
    height: 130px;
    border: solid #e9e9e9;
    background-color: #e9e9e9;
    box-shadow: 6px 5px #bdbebd;
    
}

.bar {
    width: 100%;
    background-color: rgb(248, 244, 225);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 17px 0 rgba(0, 0, 0, 0.07);
    height: 65px;
    display: grid;
    margin-top: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(199, 199, 199, 0.356);
    position: relative;
    align-content: center;
    color: rgba(0, 0, 0, 0.801);
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}

body{
    background-color: #FFFAF0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.rectificio {
    margin: auto;
    border-top: 25px solid  transparent;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.p-esp {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-left: 10px;
}

#obs {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none

}

.autg {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto auto 100px;
    text-align: center;
}

.qrex {
    display: grid;
    grid-template-rows: subgrid;
    background-color: #f0e7d4;
    border: 3px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    grid-row: 1 / 4;
    justify-content: center;
    border-radius: 10px;
}

.btc {
    background-color: rgb(253, 253, 96);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 5px;
    width: 200px;
    align-self: center;
    margin: auto;
    border-radius: 10px;
    transition: all 0.2s;
}

.btc:hover {
    background-color: rgb(233, 233, 101);
    transform: scale(1.1);
}