@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

body{
    background-color: #fcf8c1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.rectificio {
    margin: auto;
    border-top: 50px solid  transparent;
    font-family: 'Poppins', sans-serif;
}

.bar {
    width: 100%;
    background-color: rgb(248, 244, 225);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 17px 0 rgba(0, 0, 0, 0.07);
    height: 65px;
    margin-top: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(199, 199, 199, 0.356);
    position: relative;
}

.serv {
    border-top: 15px solid rgb(248, 244, 225);
}

.tabs {
    width: 100%;
}

.ptex {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 241, 207);
    height: 700px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
}

.psamos {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.801);
}

.stex {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(252, 251, 239, 0.849);
    height: 700px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}

.subt {
    margin: 0;
    font-size: 40px;
    border-top: 30px solid transparent;
    text-shadow: 2px 2px 8px rgba(126, 126, 126, 0.24);
    padding-bottom: 19px;
}

.servst {
    font-weight: 500;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    border-top: 40px solid transparent;
}

.saiba {
    border-radius: 20px;
    width: 50%;
    height: 40px;
    background-color: rgb(255, 0, 0);
    color: white;
    margin: auto;
    border-top: 14px solid transparent;
    transition: all 0.2s;
}

.saiba:hover {
    transform: translateY(-7px);
    background-color: rgb(255, 251, 0);
    color: rgb(0, 255, 0);
}

.desc3 {
    font-size: 20px;
}

.col {
    color: rgb(50, 50, 50);
}

.blue {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.247);
    animation: deslizadaegypt 1.27s;
}

.saibamos{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(206, 201, 184);
    margin: auto;
    border-top: 14px solid rgb(206, 201, 184);
    text-align: center;
    font-family: 'Poppins', sans-serif;

}




/*  ORDEM DA TRANSITION
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s; */

/* Animações */

/*  ORDEM DO ANIMATION
    animation-name: deslizadaegypt;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both; */

@keyframes deslizadaegypt {
    from {
        transform: translateX(-50vw);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}  

.banana {
    animation-name: deslizadaegypt;
}

.animap {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animalesco {
    animation-duration: 2.5s;
}

.animala {
    animation-delay: 2.5s;
}