@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');
.div1 {
    height: 2260px;
    width: 700px;
    background-color: white;
}
body{
    background-color: #fcf8c1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
li{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    body{
    background-color: #fcf8c1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    align-items: center;
   padding: 4px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.bolg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fcf8c1;
}

.h1header {
    text-align: left; 
}

.classe1 {
    text-align: left;
    text-align: justify;
}
.img2 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 5px solid #8282cd;
}

input {
    height: 100px;
    width: 600px;
}

.label {
    height: 60px;
    width: 650px;
}

.div2 {
    height: 2330px;
    width: 700px;
    background-color: #f6f6f6;
}
.bar {
    width: 100%;
    background-color: rgb(248, 244, 225);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 17px 0 rgba(0, 0, 0, 0.07);
    height: 65px;
    margin-top: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(199, 199, 199, 0.356);
    position: relative;
    align-content: center;
    color: rgba(0, 0, 0, 0.801);
}

.container {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}
a {
    color: inherit;
    text-decoration: none;

}

