.div1 {
    height: 2120px;
    width: 700px;
    background-color: white;
}
body {
    background-color: cadetblue;
}

li{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;
    align-items: center;
   padding: 4px;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ADD8E6;
}

.h1header {
    text-align: left; 
}

.classe1 {
    text-align: left;
    text-align: justify;
}
.img2 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 5px solid #8282cd;
}

input {
    height: 100px;
    width: 600px;
}

.label {
    height: 60px;
    width: 650px;
}

.div2 {
    height: 2150px;
    width: 700px;
    background-color: #f6f6f6;
}